
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #222;
    background: #d1fff1;
}

.padding {
    padding: 15px;
}
main {
    margin: 0;
    vertical-align: middle;
}

header h1{
    padding: 30px 0px;
}

/* Font Stuff */
h1 {
    font-size: 2rem;
    margin: 0;
}
h2{
    font-size: 1.7rem;
    margin: 0.8rem 0;
}
h3{
    font-size: 1.5rem;
    margin: 0.8rem 0;
}
h4{
    font-size: 1.3rem;
    margin-bottom: 0.8rem;
}
h5, h6{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    color: #555;
    margin: 0.3rem 0;
}

.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.light-text{
    color: #fff;
}

a {
    text-decoration: none;
    color: #a8dbcb;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

a:hover {
    color: #222;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

/* Backgrounds*/

.white-bg{
    background-color: #fff;
}
.dark-bg{
    background-color: #222;
}
.rounded-corners{
    border-radius: 5px;
}

/* Grid */

.column {
    flex-basis: 100%;
}

@media screen and (min-width: 800px) {
    section {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    .column {
        flex: 1;
    }
    .quarter {
        flex: 2.5;
    }
    .half {
        flex: 5;
    }
    .threequarter{
        flex: 7.5;
    }
    .third{
        flex: 3.333333333;
    }
    .fifteenth{
        flex: 1.5;
    }
    .forty{
        flex: 4;
    }
}

.margin-bottom{
    margin-bottom: 2em;
}

.block-element{
    display: block;
}

/* Bookmarker app */

#central-element{
    border-radius: 10px;
    background-color: #fff;
    padding: 30px;
}

@media screen and (max-width: 800px){
    #central-element, #storedBookmarks{
        margin-left: 1em;
        margin-right: 1em;
    }
    #central-element > h3, label.block-element{
        text-align: left;
        padding-left: 5%;
    }
}

#storedBookmarks{
    border-radius: 10px;
    background-color: #fff;
    padding: 30px 30px 60px 30px;
}

.form-control{
    margin-left: 0;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 0.7rem;
    border-radius: 3px;
    border: 2px solid #d1fff1;
    text-align: center;
    color: #666;
    width: 30%;
    height: 3.5em;
}

#myForm > .button{
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #d1fff1;
    color: #666;
    border-radius: 3px;
    border: 2px solid #d1fff1;
    width: 30%;
    font-size: 0.7rem;
    height: 3.5em;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}

@media screen and (max-width: 800px){
    #myForm > .button, .form-control{
        width: 90%;
    }
}

#myForm > .button:hover{
    background-color: #a8dbcb;
    color: #d1fff1;
    border: 2px solid #a8dbcb;
    font-size: 0.7rem;
}

input:focus { 
    outline: none !important;
    border-color: #d1fff1;
    box-shadow: 0 0 15px #d1fff1;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    /* ...and now for the proper property */
    transition:.5s;
}
textarea:focus { 
    outline: none !important;
    border-color: #d1fff1;
    box-shadow: 0 0 15px #d1fff1
}

#bookmarksResults a{
    background-color: #fff;
    padding: 10px 10%;
    margin-right:10px;
    color: #222;
    border-radius: 3px;
    border: 2px solid #d1fff1;
    text-decoration: none;
}

#bookmarksResults a:hover{
    background-color: #d1fff1;
    color: #222;
    border: 2px solid #d1fff1;
}

a#btn-delete{
    background-color: #fff;
    color: red;
    border: 2px solid red;
}

a#btn-delete:hover{
    background-color: red;
    color: #222;
    border: 2px solid red;

}

@media screen and (max-width: 800px){
    .stored-buttons a{
        display: block;
        width: 60%;
        margin-bottom: 1em;
        text-align: center;
    }
    #storedBookmarks > h3{
        text-align: left;
    }
}

label.block-element{
    margin-bottom: 5px;
}







